#content {
    margin-top:90px;
}

#login-error {
    margin-right:1em;
}

.capitalize {
    text-transform:capitalize;
}

select {
    width:110px;
}

.feedback {
    color:red;
    padding:0 0.5em 10px;
    white-space:nowrap;
}
