#content {
    margin-top:90px;
}

#login-error {
    margin-right:1em;
}

.capitalize {
    text-transform:capitalize;
}

select {
    width:110px;
}

.feedback {
    color:red;
    padding:0 0.5em 10px;
    white-space:nowrap;
}

#update-user ul {
    list-style-type:none;
    margin-left:0;
}

#update-user input[type=checkbox] {
    margin:-0.1em 0.3em 0;
}

#data-college-list button.refresh {
    background-color:transparent;
    border:0 none;
    vertical-align:text-bottom;
}

#data-college-list li.user a {
    margin-left:-2px;
    padding-left:0;
}

p.withdrawn-warning {
    color: red;
}
p.withdrawn-warning:empty {
    display: none;
}

.user.active.disabled > a:focus, .user.active.disabled > a:hover {
    background-color:#0088CC;
    color:#999999;
}
