GnuPGInterface==0.3.2
Landscape-Client==11.07.1.1
PAM==0.4.2
Twisted-Core==11.0.0
apt-xapian-index==0.44
chardet==2.0.1
command-not-found==0.2.44
## FIXME: could not find svn URL in dependency_links for this package:
distribute==0.6.16dev-r0
httplib2==0.7.2
keyring==0.6.2
launchpadlib==1.9.8
lazr.restfulclient==0.11.2
lazr.uri==1.0.2
oauth==1.0.1
pexpect==2.3
pyOpenSSL==0.12
pycrypto==2.3
pycurl==7.19.0
pyserial==2.5
python-apt==0.8.0ubuntu9
python-debian==0.1.20ubuntu2
python-ldap==2.3.13
simplejson==2.1.6
smart==1.4
ufw==0.30.1-2ubuntu1
virtualenv==1.6.4
wadllib==1.2.0
wsgiref==0.1.2
zope.interface==3.6.1
## The following requirements were added by pip --freeze:
