<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Student Robotics Account Activation Successful</title>
    </head>
    <body>
        <p>
            Congratulations {name}, you have successfully activated your Student Robotics
            <a href="/docs/user_accounts" title="Find out more about user accounts" target="_blank">user account</a>.
        </p><p>
            We've assigned your account a temporary password, which you should
            <a href="/password/" title="Go to the password-change page" target="_blank">change</a>
            immedaitely.
        </p><p>
            Your temporary password is: {passwd}
        </p><p>
            Once you've
            <a href="/password" title="Go to the password-change page" target="_blank">changed your password</a>,
            why not introduce yourself on the
            <a href="/forum" title="The forums are a great place to chat or get help">forums</a>?
        </p><p>
            The Student Robotics Team
        </p>
    </body>
</html>
