<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Userman</title>
        <link type="text/css" rel="stylesheet" href="static/bootstrap/css/bootstrap.css"></link>
        <link type="text/css" rel="stylesheet" href="static/bootstrap/css/bootstrap-responsive.css"></link>
        <link type="text/css" rel="stylesheet" href="static/css/main.css"></link>
        <script type="text/javascript">

            if (location.pathname.charAt(location.pathname.length-1) != "/") {
                window.location = "/userman/"
            }

        </script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="static/js/json2.js"></script>
        <script type="text/javascript" src="static/js/base64.js"></script>
        <script type="text/javascript" src="static/js/user.js"></script>
        <script type="text/javascript" src="static/js/college.js"></script>
        <script type="text/javascript" src="static/js/auth_view.js"></script>
        <script type="text/javascript" src="static/js/edit_view.js"></script>
        <script type="text/javascript" src="static/js/register_view.js"></script>
        <script type="text/javascript" src="static/js/college_list_view.js"></script>
        <script type="text/javascript" src="static/js/working_view.js"></script>
        <script type="text/javascript" src="static/js/template_expander.js"></script>
        <script type="text/javascript" src="static/js/main.js"></script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">Userman</a>
                    <form id="login" class="navbar-form pull-right">
                        <input id="username" class="span2" type="text" placeholder="Username">
                        <input id="password" class="span2" type="password" placeholder="Password">
                        <button type="submit" class="btn">Log in</button>
                    </form>
                    <p id="login-error" class="navbar-text pull-right"></p>
                    <p id="messages" class="navbar-text pull-right"></p>
                </div>
            </div>
        </div>
        <div class="container hide-before-login show-after-login" id="content">
            <div class="row">
                <div class="span3" id="data-college-list">
                </div>
                <div class="span9">
                    <div id="data-edit-user">
                    </div>
                    <div id="data-register-users">
                    </div>
                </div>
            </div>
        </div>
        <div class="templates">
            <script type="text/template" id="college">
                <div id="{college.canonical_name}">
                    <h4 class="capitalize">{college.english_name}</h4>
                    <ul class="nav nav-pills nav-stacked">
                        {users}
                        <hr/>
                        {register}
                    </ul>
                </div>
            </script>
            <script type="text/template" id="user_link">
                <li class="{user.username}"><a href="#edit-{user.username}"><i class="icon-user"></i> {user.first_name} {user.last_name}</a></li>
            </script>

            <script type="text/template" id="register_link">
                <li class="register"><a href="#reg-{college.canonical_name}"><i class="icon-pencil"></i> Register Users</a></li>
            </script>

            <script type="text/template" id="user_edit">
                <h2>Edit User</h2>
                <fieldset id="update-user">
                    <label>First Name</label>
                    <input type="text" value="{user.first_name}" name="new_first_name">
                    <label>Last Name</label>
                    <input type="text" value="{user.last_name}" name="new_last_name">
                    <div id="data-email">
                        <label>Email</label>
                        <input type="text" value="{user.email}" name="new_email">
                    </div>
                    <label>Password</label>
                    <input type="password" name="new_password">
                    <label>Team</label>
                    {team_select}
                    <hr>
                    <button type="submit" class="btn btn-primary" id="edit-submit">Submit</button>
                </fieldset>
            </script>
            <script type="text/template" id="register">
                <h2>Register users to <span class="capitalize">{college.english_name}</span></h2>
                <table id="data-register-table">
                    <tr>
                        <th>First Name</th>
                        <th>Second Name</th>
                        <th>Email</th>
                        <th>Team</th>
                    </tr>
                </table>
                <button type="submit" class="btn btn-primary" id="register-submit">Submit</button>
                <button class="btn add-row">Add Row</button>
            </script>
            <script type="text/template" id="register-row">
                <tr>
                    <fieldset>
                        <td><input type="text" name="first_name"></td>
                        <td><input type="text" name="last_name"></td>
                        <td><input type="text" name="email"></td>
                        <td>{team_select}</td>
                    </fieldset>
                </tr>
            </script>
        </div>
    </body>
</html>
