<html>
    <head>
        <title>
            Nemesis
        </title>
        <link type="text/css" rel="stylesheet" href="static/css/bootstrap.css"></link>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <style type="text/css">
            input, button {
                font-size:15pt !important;
                height:30pt !important;
                margin-bottom:9px;
            }

            .hero-unit {
                margin-top: 100px;
            }

            .hero-unit h1 {
                margin-bottom:30px;
            }

            .container {
                width:600px;
            }

        </style>

        <script type="text/javascript" src="static/js/main.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="hero-unit">
                <h1>Nemesis Login</h1>
                <br>
                <div>
                    <input type="text" id="username" value="username"></input>
                    <input type="password" id="password" value="password"></input>
                    <button value="Go!" id="go">Go</button>
                </div>
            </div>
        </div>
    </body>
</html>
